doctype html
html
  head
    title menu
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='https://fonts.googleapis.com/css?family=Days+One', rel='stylesheet')
    link(href='main.css', rel='stylesheet', media='screen')
  body#skrollr-body(style="height: 2511px")
    .container
      .layer
        .menu
          h1( data--100-top='transform: scale(.5);', data--1-top='transform: scale(1)') menu
        .photo
          img(src='src/img/114.png',data--100-top='opacity: 0; transform: scale(0.3);', 
                                    data-50-top='opacity: 1; transform: scale(0.9);')
        .lauer0.shadow-all( data--110-top='opacity: 0; left: 100px;', data--10-top='opacity: 1; left: 0px;')
          h2 september 9
          p
            | Today. our chef bring you througr a travel around the word, with an entree from Europse, our best vtea from American, and an authenic dessert from Asia.
        .roww
          img.l1(src='src/img/115.png', data-370='opacity: 0; left: -0px;', data-871='opacity: 1; left: -165px;')
          .lauer1.shadow-all( data-200-top='opacity: 1;', data-100-top='opacity: 1;')
            .lauer1-1.shadow-all( data--50-bottom='margin-left: -300px, opacity: 0;',  data--51-bottom='margin-left: -70px; opacity: 1;')
              .text
                h4 from the grill
                h2 bref steak
                p
                  | Aged for extra flevour tenderness, rebbed with our unique blend of spices and slow roasted
              .lauer1-2.shadow-all(
              data-200-bottom='margin-right: -300px; opacity: 0; background-position:  100% 50%', data-50-bottom='margin-right: -65px; opacity: 1; background-position:  10% 100%;')
        .roww
          img.l3(src='src/img/116.png', data-300-bottom='opacity: 1; left: -325px;', data-150-top='opacity: 0; left: -0px;')
          .lauer2.shadow-all(data-300-bottom='opacity: 0;',
                             data-300-top=' opacity: 1')
            .lauer2-1.shadow-all(data-400-top='background-position:  0% 70%; margin-right: -70px',
                                  data-500-top='background-position:  100% 0%; margin-right: -170px')
              .lauer2-2.shadow-all(data-10-bottom='opacity: 0;margin-right: 0px; transform: scale(0.9);', data-260-top='opacity: 1; margin-right: -175px; transform: scale(1);')
                .text
                  h4 from the grill
                  h2 bref steak
                  p
                    | Aged for extra flevour tenderness, rebbed with our unique blend of spices and slow roasted
        .roww
          img.l2(src='src/img/117.png', data-2450='opacity: 0; left: -0px;', data-2550='opacity: 1; left: -325px;')
          .lauer3.shadow-all(data-2250='opacity: 0;', data-2500='opacity: 1;')
            .lauer3-1.shadow-all(data-2100='margin-left: -170px', data-2450='margin-left: -70px;')
              .text
                h4 from the grill
                h2 bref steak
                p
                  | Aged for extra flevour tenderness, rebbed with our unique blend of spices and slow roasted
              .lauer3-2.shadow-all(data-2250=' margin-right: 0px', data-2500='margin-right: -65px;')
        .roww-bottom
          .lauer4
            h2 made Yuri Yadvizhuk
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='src/skrollr.min.js')
    script(src='src/main.js')
